extends layout

block content
    div.blog-collection-container
        if blogs.length > 0
            each blog in blogs
                div.blog-container
                    h1=blog.title
                    p=blog.body
                    p=USER.username
        else
            p You have no blogs