* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    position: relative;
    background: #E8E5D0;
}

.logo {
    display: flex;
    font-family: 'Lobster', cursive;
    color: #781706;
    font-size: 1.25em;
    margin: 0.5em 0;
    cursor: default;
}

.login-container {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    /* background: green; */
    display: flex;
    flex-direction:column;
    width: 75%;
    align-items: center;
    margin: 0 auto;
}

.login-container form,
.login-container .login-row,
.login-container p,
.login-container button {
    width: 100%;
}

.login-container p {
    padding: 0.5em;
    text-align: center;
    margin: 0.5em 0;
    background: rgba(0, 0, 0, 0.2);
}

.login-container form {
    max-width: 350px;
}

.login-row {
    display: block;
    margin: 0.25em 0;
}

.login-container input,
.login-container button {
    padding: 0.5em;
}

.login-container button {
    margin: 0.5em 0;
    background: #4698E8;
    color: #fff;
}

.blog-collection-container {
    /* background: orange; */
    width: 90%;
    margin: 0 auto;
}

.blog-container {
    margin: 0.75em 0;
    background: #fff;
    padding: 1.5em;
    border-radius: 10px;
    color: #2C2E2D;
}

.blog-section {
    /* background: green; */
    margin: 0.5em 0;
}

.blog-container .blog-header,
.blog-container .blog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-links li {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    color: #8A8F8D;
}

.blog-links a:visited {
    color: #8A8F8D;
}

#editBlogModal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    display: none;   
}

.modal-content {
    background: #fff;
    width: 90%;
    margin: 100px auto;
    height: 500px;
    border-radius: 10px;
}

.blog-input {
    border: 1px solid #000;
}